/* vim: set wrap breakindent: */

$main_emph: #1F5376;
$main_background: #D7E1DD;
$main_foreground: black;

$min_padding: 1ch;
$def_padding: 1rem;

$sans: "Open Dyslexic", "ReadinessRegular", "Helvetica", sans-serif;

html {
	background-color: $main_background;
	font-family: $sans;
}

body {
	display: grid;
	grid-template-columns: max-content auto;
	grid-template-rows: auto auto auto;
	grid-column-gap: $def_padding;
	margin: 0;
}

header,nav {
	grid-column: 1;
	background-color: $main_emph;
	padding: $def_padding;
	margin: 0;
}

footer {
	grid-row: 3;
	grid-column-start: 2;
	grid-column-end: 3;
	color: $main_emph;
	text-align: center;
	margin-top: $def_padding;
	margin-bottom: 0.5rem;

	a {
		color: $main_emph;
		font-weight: bold;
		text-decoration: none;
		padding: 0.2rem;
	}
	a:hover {
		color: $main_background;
		background-color: $main_emph;
	}
}

header a, nav a {
	color: $main_background;
	text-decoration: none;
}

a[rel="me"], a[role="presentation"] {
	display: none;
}

header {
	grid-row: 1;

	h1 {
		border-bottom: 0.5ch solid $main_background;
		margin: 0;
	}

	div#nav-menu {
		display: none;
		color: $main_background;
		text-align: center;
		margin-top: $def_padding;

		button {
			border: 0;
			background-color: $main_emph;
			color: $main_background;
			font-size: 100%;
		}
	}
}

nav {
	grid-row-start: 2;
	grid-row-end: 4;
	display: flex;
	flex-direction: column;

	a {
		padding-bottom: 1ch;
	}
	a.c {
		font-weight: bold;
		margin-top: 1.5rem;
	}
	a.sc {
		font-weight: normal;
		padding-left: $def_padding;
	}
}

main {
	grid-column: 2;
	grid-row-start: 1;
	grid-row-end: 3;
	background-color: #d7e1dd;
	line-height: 1.5em;
	margin-right: $def_padding;
	margin-left: 0;

	figure img {
		width: 600px;
		height: auto;
	}

	a {
		color: $main_emph;
	}
}

main.show {
	div.card {
		margin-top: $def_padding;
		div {
			ul li {
				justify-content: start;
			}
			h3 {
				text-align: left;
			}
		}
	}
}

main.shows {
	h2.categ,h3.categ,h4.categ,
	h2.subcateg,h3.subcateg,h4.subcateg {
		color: $main_emph;
	}

	h2.categ {
		text-transform: uppercase;
	}
}

main.text {
	line-height: 1.5;

	p {
		max-width: 80ch;
		text-align: justify;
	}

	dl {
		dt {
			font-weight: bold;
		}
	}

	h2 {
		text-transform: uppercase;
		color: $main_emph;
	}
	h3 {
		color: $main_foreground;
	}
}

div.grid {
	margin-top: $def_padding;
	display: grid;
	grid-column-gap: $def_padding;
	grid-row-gap: $def_padding;
	grid-template-columns: auto auto auto;
}


div.card {
	padding: 0.5rem;
	border-radius: 0.3rem;
	background-color: white;
	
	p {
		font-size: small;
		text-align: justify;
	}
	
	.t {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		a.permalink {
			color: grey;
			font-size: small;
		}
	}

	div {
		padding: 0.2rem;
		margin-top: $def_padding;
		border-radius: 0.2rem;
		text-align: right;

		ul {
			margin: 0;
			padding: 0;
			list-style-type: none;

			li {
				display: flex;
				flex-direction: row;
				justify-content: end;
			}
		}

		h4, h5 {
			text-align: left;
			margin: 0;
		}

	}

	div.web { background-color: antiquewhite; }
	div.video { background-color: deepskyblue; }
	div.audio { background-color: lightgrey; }
	div.money { background-color: lightyellow; }
	div.social { background-color: lightgrey; }

	a {
		color: black;
	}

	a.rss {
		padding-left: 1em;
	}
}

div.card {
	p.cited:before {content: "“";}
	p.cited:after {content: "”";}
	p.cited {
		font-style: italic;
	}
}

div.card:lang(fr) {
	p.cited:before {content: "«\a0";}
	p.cited:after {content: "\a0»";}
	p.cited {
		font-style: normal;
	}
}

@media (max-width: 1200px) {
	div.grid {
		grid-template-columns: auto auto;
	}
}

@media (max-width: 999px) {
	div.grid {
		grid-template-columns: auto;
	}
}

@media (max-width: 660px) {
	body {
		grid-template-columns: auto;
		grid-template-rows: auto auto auto auto;

		header {
			grid-row: 1;

			div#nav-menu {
				display: block;
			}
		}
		nav {
			grid-row: 2;
			display: none;
		}
		main {
			grid-column: 1;
			grid-row: 3;
			margin-left: $def_padding;
		}
		main.text {
			dl {
				dd {
					margin-left: 2ch;
				}
			}
		}
		footer {
			grid-column: 1;
			grid-row: 4;
		}
	}
}
