<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset=utf-8 />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		{% if slug == "index" %}
		<title>Émissions culturelles sur le web</title>
		{% else %}
		<title>Émissions culturelles sur le web – {{ name }}</title>
		{% endif %}

		<link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/readiness" type="text/css"/>
		<link href="style.css" rel="stylesheet" type="text/css" media="screen" />
		<meta name="description" content="Émissions culturelles sur le web"/>
		<meta property="og:description" content="Émissions culturelles sur le web"/>
		<meta property="og:title" content="Émissions culturelles sur le web"/>
		<meta name="twitter:description" content="Use Mastodon instead" />
		<meta name="twitter:title" content="Twitter/X is garbage" />
	</head>
	<body class="index">
		<header id="page-top">
			<a href="index.html"><h1>Émissions</h1></a>
			<div id="nav-menu">
				<button id="nav-button" onclick="showNav()">Menu</button>
			</div>
		</header>
		<nav id="page-toc">
			{% block nav %}
			{% endblock %}
		</nav>
		<main class="{{ pageclass }}">
			{% block main %}
			{{ content }}
			{% endblock %}
		</main>
		<footer>
			<a href="#page-top">Haut de la page</a>&#160;–&#160;<a href="#page-toc">Sommaire</a>
			{% block footer %}
			{% endblock %}
		</footer>
	</body>
</html>
